*{
	font-family: "Segoe UI", Roboto, Helvetica;
}
.spinner{
    position: fixed;
    top: 50%;
    z-index: 100;
    left: 42%;
    display:none;
}
#appmenu {
    position: fixed;
    z-index: 10;
    background: #121212;
    width: 97vw;
    top: 0px;
    left: 0px;
    padding: 7px;
}
#appcontent {
    top: 112px;
    position: relative;
}
.search-bar{
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}
.record-container{
    width: 96vw;
    margin-bottom: 2px;
}
#loginbtn {
    margin-top: 8px;
}
.record-button-container {
    margin-top: 10px;
    width: 96vw;
}
.record-button-container sl-button {
    margin-right: 6px;
}
.record-container::part(body) {
    display:flex;
    flex-wrap: wrap;
}
.record-container.active::part(body) {
    background: rgb(100 149 237 / 70%);
}
.field-container {
    display: flex;
    margin-right: 24px;
    flex-wrap: nowrap;
}
.field-container:first-child {
    font-size: 1.2em!important;
    width: 100vw;
}
.field-container:first-child .field-label {
    display: none!important;
}
.field-container.edit .field-label{
    display:unset!important;
}
.record-container.active .field-container {
    width: 96vw;
}
.field-label {
    margin-right: 10px;
    width: 26vw;
    max-width: 140px;
}
.edit-select{
    width: 213px;
}
.edit-input{
    width: 211px;
}
.badge-container{
    width:96vw;
    padding-bottom: 6px;
    font-size: 1.2em;
}
.record-container.edit .badge-container{
    display: none;
}
.field-container.badge {
    display: none!important;
}
.field-container.edit.badge{
    display: flex!important;
}